section {
    margin: 1em;
    overflow: hidden;
    width: 40em;

}
.itemList {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease;
}
.item {
    margin: 1em;
    width: 10em;
}
.itemButton {
    background-color: rgba(0, 0, 0, 0);
    width: 10em;
    height: 10em;
    border-style: none;
    cursor: pointer;
}
img {
    border-radius: 1em;
    width: 100%;
}
h4{
    text-align: center;
}
.navButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.navButton {
    display: inline;
    flex-direction: column;
    width: 4em;
}