body {
  font-family: 'Arial', sans-serif;
  background-color: #ff9d00;
  color: #e46e00;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px; /* Dubbelt så bred kolumn */
  box-shadow: 0 0 20px rgba(241, 98, 3, 0.1);
  background-image: url('https://img.wallpapic.se/i7559-517-81/thumb/mat-skaldjur-snabbmat-middag-bakgrundsbild.jpg');
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
}

/* Övriga stilar här... */

.user-info,
.cart-container {
  width: 100%;
  margin-bottom: 20px;
}

.cart-container {
  background: none; /* Ingen bakgrundsfärg */
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.lock-icon {
  font-size: 24px;
  cursor: pointer;
  color: #000000; /* Textfärgen är svart */
  text-shadow: 1px 1px 1px #ffffff; /* Textskugga för att göra texten mer synlig */
}

h2 {
  color: #000000; /* Rubrikfärgen är svart */
  text-shadow: 1px 1px 1px #ffffff; /* Textskugga för att göra texten mer synlig */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #000000; /* Textfärgen är svart */
}
